body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:53px;
  top:24px;
  width:300px;
  height:170px;
}
#u36 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u37 {
  position:absolute;
  left:53px;
  top:216px;
  width:170px;
  height:170px;
}
#u38 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:363px;
  top:24px;
  width:140px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:70px;
  top:42px;
  width:153px;
  height:37px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
