body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6 {
  position:absolute;
  left:31px;
  top:27px;
  width:564px;
  height:110px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u9 {
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u11 {
  position:absolute;
  left:280px;
  top:0px;
  width:140px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u13 {
  position:absolute;
  left:420px;
  top:0px;
  width:139px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u17 {
  position:absolute;
  left:140px;
  top:30px;
  width:140px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19 {
  position:absolute;
  left:280px;
  top:30px;
  width:140px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u21 {
  position:absolute;
  left:420px;
  top:30px;
  width:139px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u23 {
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u25 {
  position:absolute;
  left:140px;
  top:60px;
  width:140px;
  height:45px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u27 {
  position:absolute;
  left:280px;
  top:60px;
  width:140px;
  height:45px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
}
#u29 {
  position:absolute;
  left:420px;
  top:60px;
  width:139px;
  height:45px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:467px;
  top:67px;
  width:100px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:467px;
  top:99px;
  width:100px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
